@import '@/_variables';

.layout {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: $layout-header-height;
  padding-bottom: $tab-bar-height;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  color: $color;
}
